.MarkdownEditor {
	display: flex;
    gap: 0.5rem;
	height: 100%;
}

.MarkdownEditor__Editor,
.MarkdownEditor__Preview {
	flex: 1;
    border: 1px solid var(--black);
}

.MarkdownEditor .titleBar {
	height: 3rem;
	padding: 0.5rem 1rem;
	display: flex;
	align-items: center;
	background-color: var(--black);
	color: #fff;
}

.MarkdownEditor__Editor__Textarea {
	width: 100%;
	height: calc(100% - 3.5rem);
	border: none;
	resize: none;
	padding: 0.5rem;
	background-color: var(--pink);
	color: #fff;
	font-family: 'Tlw Typewriter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	overflow: auto;
}

.MarkdownEditor__Preview__Content {
	width: 100%;
	height: calc(100% - 3.5rem);
	padding: 0.5rem;
	font-family: 'Tlw Typewriter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	overflow: auto;
}
