.Typewriter__text {
	display: inline-block;
}

.Typewriter__cursor {
	display: inline-block;
	color: currentColor;
    animation: blink 1s ease-in-out 0s infinite alternate;
    font-size: 2.5rem;
}

@keyframes blink {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
