/* Defined Colors */
$black: #130303;
$white: #fff;
$red: #e9143f;
$blue: #1a8fe3;
$green: #04773b;
$yellow: #fbaf00;
$orange: #f17105;
$purple: #693668;
$magenta: #d11149;
$teal: #40798c;
$cyan: #80ced7;
$amber: #680e4b;
$violet: #4c1a57;
$vermillion: #e3170a;
$pink: #e06c9f;

/* Define Colors */

/* Custom colors */
$color1: #0d3b66;
$color2: #1c77c3;
$color3: #3a7ca5;
$color4: #5bc3eb;

/* Typography */
$h1-size: 2.5rem;
$h2-size: 1.825rem;
$h3-size: 1.5rem;
$h4-size: 1.2rem;
$h5-size: 1rem;
$h6-size: 0.85rem;
$p-size: 1.125rem;
