.ToDoApp {
	width: 800px;
	max-width: 100%;
	margin: auto;
	padding: 0.5rem;
	color: var(--black);
}

.ToDoApp input,
.ToDoApp textarea,
.ToDoApp select {
	width: 100%;
	padding: 0.5rem 0.75rem;
}

.ToDoApp textarea {
	height: 10rem;
}

.ToDoApp button {
	padding: 0.5rem 1.5rem;
	background: var(--white);
	border: 1px solid var(--black);
}

.ToDoApp__Search {
	margin-top: 0.5rem;
	display: flex;
	gap: 1.5rem;
}

.ToDoApp__Search input {
	border: 1px solid var(--black);
}

.ToDoList {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 0.5rem;
}

/* @ToDo Card Layout */

.ToDoCard {
	border: 1px solid var(--black);
	width: 900px;
	max-width: 100%;
	padding: 0.5rem;
	font-size: 1rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.ToDoCard div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ToDoCard .ToDoCard__left {
	flex: 0 2.5rem;
}

.ToDoCard .ToDoCard__center {
	flex: 3;
	display: inline-block;
}

.ToDoCard .ToDoCard__right {
	flex: 0 2.5rem;
	gap: 0.5rem;
}

.ToDoCard h2 {
	font-size: larger;
}

.ToDoCard__icon {
	cursor: pointer;
}

.grey_text {
	color: var(--grey);
}
.red_text {
	color: var(--red);
}
.blue_text {
	color: var(--blue);
}
.green_text {
	color: var(--green);
}

@media screen and (max-width: 900px) {
	.ToDoCard {
		width: 100%;
		flex-direction: column;
	}
	.ToDoCard div {
		flex-direction: row;
		justify-content: flex-start;
	}
}

/* @ToDo Form Layout */
.ToDoForm {
	padding: 0.5rem;
	border: 1px solid var(--black);
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	justify-content: space-around;
	position: relative;
}
.ToDoForm .close-btn {
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
}
.ToDoForm__field,
.ToDoForm__action {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 0.5rem;
}
.ToDoForm__field label {
	flex: 0 0 6rem;
	font-size: 1rem;
}
.ToDoForm__action button {
	margin-left: auto;
}

.ToDoList__action {
	width: 100%;
}

