:root {
	--red: #ef233c;
	--green: #3ec300;
	--blue: #337ca0;
	--yellow: #fffc31;
	--grey: #84a98c;
	--black: #1d201f;
	--white: #fffffc;
	--orange: #ffa500;
	--cyan: #30c5ff;
	--pink: #ee4266;
}

* {
	box-sizing: border-box;
}

.App {
	/* display: flex;
	justify-content: center;
	align-items: center; */
	height: 100vh;
	font-family: 'Tlw Typewriter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 1.5rem;
	/* color: #fff;
    background: #161925; */
}

h1 {
	font-size: 2.5rem;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 2rem;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

h3 {
	font-size: 1.75rem;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

h4 {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

h5 {
	font-size: 1.25rem;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

.CenterScreen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}